$primaire:#9356dc;
$secondaire:#ff79da;
$tertiaire:#99e2d0;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 375px;
    margin: auto;
}

h1 {
    font-family: 'Shrikhand', cursive;
}